doctype html
html
  head
    title Thanks for logging in!
  body
    h1 Thanks for logging in!
    img(src='https://vignette.wikia.nocookie.net/mario/images/1/1a/High_five.png/revision/latest?cb=20120318215217')

